<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Language Practice App</title>
    <style>
        .correct { color: green; }
        .missing { color: red; }
        .extra { color: orange; }
        #startRecording:disabled,
        #stopRecording:disabled {
            background-color: grey;
            color: white;
            cursor: not-allowed;
        }
    </style>
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">Language Practice App</h1>
        <div class="mb-4">
            <label for="duration" class="block text-lg font-medium">Recording Duration (seconds):</label>
            <input type="number" id="duration" name="duration" value="5" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none 
                focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
            <textarea id="sentences" name="sentences" rows="4" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 
                focus:border-indigo-500 sm:text-sm">{{ suggest_sentence }}</textarea>
        </div>
        <div class="flex space-x-2 mb-4">
            <button id="startRecording" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Start Recording</button>
            <button id="stopRecording" class="px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600" disabled>Stop Recording</button>
            <button id="loadButton" class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600">Load New Sentence and Audio</button>
        </div>
        <p id="transcription" class="mb-4"></p>
        <div id="feedback" class="p-4 bg-white rounded-md shadow-md"></div>
        <label for="audioContainer" class="block text-sm font-medium text-gray-700 mb-2">Listen to real native voice</label>
        <div id="audioContainer" class="mb-4 p-4 border border-gray-300 shadow-lg rounded-lg bg-white">
                <!-- Audio with controls -->
            <audio controls class="w-full" id="audioPlayer">
                <source id="audioSourceMp3" src="{{ url_for('uploaded_file', filename=audioUrl) }}" type="audio/mpeg">
                <source id="audioSourceOgg" src="{{ url_for('uploaded_file', filename=audioUrl) }}" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <script>
                const audioPlayer = document.getElementById('audioPlayer');
                const audioSourceMp3 = document.getElementById('audioSourceMp3');
                const audioSourceOgg = document.getElementById('audioSourceOgg');

                const fnTriggerCheck = () => {
                    const audioUrl = audioSourceMp3.src;
                    function checkAudioAvailability() {
                    fetch(audioUrl, { method: 'HEAD' })
                        .then(response => {
                            if (response.ok) {
                                audioSourceMp3.src = audioUrl;
                                audioSourceOgg.src = audioUrl;
                                audioPlayer.load();
                                clearInterval(intervalId);
                            }
                            })
                            .catch(error => console.error('Error checking audio file:', error));
                    }

                    const intervalId = setInterval(checkAudioAvailability, 3000); // Check every 5 
                }
            </script>
        </div>
    </div>

    <script type="text/javascript">
        let mediaRecorder;
        let audioChunks = [];

        function displaySentencesDiff(sentencesDiff) {
            const $sentencesDiffContainer = $('#feedback');
            $sentencesDiffContainer.empty();
            $sentencesDiffContainer.append(sentencesDiff);
        }

        document.getElementById('startRecording').addEventListener('click', async () => {
            const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
            mediaRecorder = new MediaRecorder(stream);

            mediaRecorder.ondataavailable = event => {
                console.log('Data available...', event.data);
                audioChunks.push(event.data);
            };

            mediaRecorder.onstop = async () => {
                console.log('Recording stopped...', audioChunks);
                const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });

                const duration = document.getElementById('duration').value;
                console.log('Recording audio for ' + duration + ' seconds...');
                const formData = new FormData();
                formData.append('audio', audioBlob, 'recording.wav');
                formData.append('duration', duration);
                formData.append('sentences', document.getElementById('sentences').value);

                const response = await fetch('/record', {
                    method: 'POST',
                    body: formData
                });

                const data = await response.json();
                document.getElementById('transcription').innerText = `Transcription: ${data.transcription}`;
                displaySentencesDiff(data.sentences_diff);
                audioChunks = [];
            };

            mediaRecorder.start();
            document.getElementById('startRecording').disabled = true;
            document.getElementById('stopRecording').disabled = false;
        });

        document.getElementById('stopRecording').addEventListener('click', async () => {
            mediaRecorder.stop();
            document.getElementById('startRecording').disabled = false;
            document.getElementById('stopRecording').disabled = true;
        });

        document.getElementById('loadButton').addEventListener('click', () => {
            fetch('/load-sentence-audio')
                .then(response => response.json())
                .then(data => {
                    // Update the textarea with the new sentence
                    document.getElementById('sentences').value = data.sentence;

                    // Update the audio sources with the new audio file
                    document.getElementById('audioSourceMp3').src = data.audioUrlMp3;
                    document.getElementById('audioSourceOgg').src = data.audioUrlOgg;
                    document.getElementById('audioPlayer').load();
                    fnTriggerCheck();
                })
                .catch(error => console.error('Error loading new sentence and audio:', error));
        });
    </script>
</body>
</html>
